.header{
    max-width: none;
    transition: all 0.5s;
}

.graphic-section{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 48px 0 72px;
    width: 100%;
    gap: 48px;
}

.graphic-section .gallery-box{
    display: flex;
    gap: 48px;
}

.filter-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0px 0px;

    position: sticky;
    top:96px;
    z-index: 1;

    background: linear-gradient(180deg, #262626 50%, rgba(38, 38, 38, 0.00) 100%);
}

.filter{
    color: var(--white-50, #808080);
    min-width: 120px;
    text-align: center;
	font-family: 'Sk-Modernist Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 16px;
    background: center center / contain no-repeat url(../element/icon/filter-bg-default.svg);
}

.filter:hover{
    cursor: pointer;
    color: var(--black-80);
    background-image: url(../element/icon/filter-bg-hover.svg);
}

.filter.active{
    color: var(--black-85);
    background-image: url(../element/icon/filter-bg-active.svg);
}

.clear{
    display: none;
    padding: 8px 8px 8px 12px;
    align-items: center;
    height: fit-content;
    gap: 5px;
    border-radius: 100px;
    background: var(--black-80);
    color: var(--white-90);
}

.clear img{
    height: 16px;
    width: 16px;
}

.clear.active{
    display: flex;
}

.clear.active:hover{
    cursor: pointer;
    background: var(--white-50);
}

/*--- gallery ---*/

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0 72px;
    width: 100%;
    gap: 1%;
}

.gallery-item{
    display: none;
    height: 320px;
    width: 32.65%;
    margin-bottom: 24px;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    overflow: hidden;
    order: 1;
}

.gallery-item.banner,
.gallery-item.PPT,
.gallery-item.vi{
    width: 49.5%;
}

.gallery-item.active{
    display: flex;
}

.gallery-item h3{
    color: var(--white-90);
    font-size: 20px;
}

.gallery-item p{
    color: var(--white-50);
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
}

.gallery-item .tag{
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    padding: 8px 16px;
    color: var(--white-90);
    font-size: 14px;
    line-height: 100%;
    background: center center / 110% url(../element/icon/hover-bg.svg);
    border-radius: 100px;
    position: absolute;
    bottom: -48px;
    right: 12px;
}


/*---gallery items---*/

.gallery-item{
    --percentage:60%;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat url(../element/picutre/other-projects-cover-test.png);
}

.gallery-item .hover-bg{
    position: absolute;
    width: 240px;
    height: 240px;
    display:block;
    opacity: 0;
}

.gallery-item.item01{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/in-well/inwell-10.png);
    background-size: 100%;
}

.gallery-item.item02{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/in-well/inwell-13.jpg);
    background-size: 100%;
}

.gallery-item.item03{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/in-well/inwell-6.png);
    background-size: 100%;
}

.gallery-item.item04{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/mollifix/cover.png);
    background-size: 110%;
}

.gallery-item.item05{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/ge-travel/web-banner-5.png), #111111;
    background-size: 110%;
}

.gallery-item.item06{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/in-well/inwell-4.png);
    background-size: 100%;
}

.gallery-item.item07{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/in-well/inwell-2.png);
    background-size: 100%;
}

.gallery-item.item08{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/in-well/inwell-1.png);
    background-size: 100%;
}

.gallery-item.item09{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/micomic/blade-1.png);
    background-size: 100%;
}

.gallery-item.item10{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/micomic/earth-1.png);
    background-size: 100%;
}

.gallery-item.item11{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/micomic/space-1.png);
    background-size: 100%;
}

.gallery-item.item12{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/510/photography.png);
    background-size: 110%;
}

.gallery-item.item13{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/afterrain/1.png);
    background-size: 110%;
}

.gallery-item.item14{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/hkcell/04/01\ -\ Life.png);
    background-size: 120%;
}

.gallery-item.item15{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/hkcell/12/12-01.jpg);
    background-size: 120%;
}

/* Zen logo */
.gallery-item.item16{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/zen/cover.png);
    background-size: 100%;
}

.gallery-item.item17{
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat 
    url(../element/projects/metrowine/mw-4.png);
    background-size: 100%;
}

/* bg-size=100% */
.gallery-item:hover{
    --percentage:-10%;
    background-size: 110%;
    transition: all 0.5s ease-out;
    cursor: pointer;

    .tag{
        bottom:12px;
        transition: all 0.5s;
    }

    .hover-bg{
        opacity: 1;
    }
}

/* bg-size=110% */
.item04:hover, 
.item05:hover,
.item12:hover,
.item13:hover{
    background-size: 120%;
}

/* bg-size=120% */
.item14:hover, 
.item15:hover{
    background-size: 130%;
}

.item17:hover{
    background-size: calc(auto +10%);
}

@media (max-width:1440px) {
    .graphic-section{
        margin:0;
        gap: 48px;
        padding: 0 48px;
    }
    .graphic-section .gallery-box{
        gap: 48px;
    }
    .gallery{
        margin: 0px 0 72px;
    }
    .gallery-item{
        height: 280px;
        padding: 16px;
        margin-bottom: 16px;
    }
}

@media (max-width:1024px) {
    .graphic-section{
        gap: 24px;
        padding: 0 24px;
    }
    .graphic-section .gallery-box{
        gap: 24px;
    }
    .gallery-item{
        height: 320px;
        width: 49.5%;
        margin-bottom: 8px;
        gap: 4px;
    }
    .gallery-item .tag{
        padding: 6px 12px;
        font-size: 12px;
    }
    .gallery-item.banner,
    .gallery-item.PPT,
    .gallery-item.vi{
        width: 100%;
    }
    .gallery-item h3{
        font-size: 18px;
    }
    .gallery-item p{
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .graphic-section{
        gap: 32px;
        padding: 0 16px;
    }
    .gallery-item{
        height: 240px;
        margin-bottom: 8px;
        gap: 4px;
        padding: 8px;
    }
    .gallery-item .tag{
        padding: 5px 10px;
        right: 8px;
        font-size: 10px;
    }
    .gallery-item:hover{
        .tag{
            bottom:8px;
            transition: all 0.5s;
        }
    }
    .gallery-item h3{
        font-size: 18px;
    }
    .gallery-item p{
        font-size: 14px;
    }
    .graphic-section .gallery-box{
        gap: 16px;
    }
    .filter-list{
        gap: 12px;
        padding: 16px 0px 0px;
        top:72px;
    }
    .filter{
        min-width: 96px;
        font-size: 14px;
        padding: 12px;
    }
    .clear{
        padding: 6px 6px 6px 10px;
        gap: 5px;
        font-size: 12px;
    }  
    .clear img{
        height: 12px;
        width: 12px;
    }
}

@media (max-width:580px) {
    .sticky{
        display: none;
    }
    .gallery-item{
        height: 200px;
        margin-bottom: 8px;
        gap: 4px;
        padding: 8px;
    }
    .gallery-item h3{
        font-size: 16px;
    }
    .gallery-item p{
        font-size: 12px;
    }
}

@media (max-width:414px) {
    .gallery-item{
        height: 160px;
    }
    .gallery-item.banner,
    .gallery-item.PPT,
    .gallery-item.vi{
        height: 200px;
    }
}