/* -------- hero-section -------- */

.hero-section{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    height: 90vh;
    width: 100%;
    gap: 72px;
    position: relative;
}

.hero-section .animation{
    max-width: 800px;
    width: 100%;
    height: 480px;
    object-fit: contain;
}

.hero-section .intro{
    max-width: 800px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 300;
    line-height: 140%;
    text-align: center;
    color: var(--white-75);
}

.logo-bg{
    width: 85%;
    height: 100%;
    object-fit: contain;
    transform: rotate(16.239deg);
    flex-shrink: 0;
    opacity: 2%;
    z-index: -1;

    position: absolute;
    top: 0;
}

@media (max-width:1440px) {
    .hero-section{
        height: fit-content;
        padding: 72px 0 72px;
    }
}

@media (max-width:1024px) {
    .hero-section{
        gap: 48px;
    }
    .hero-section .animation{
        height: 400px;
    }
    .hero-section .intro{
        font-size: 18px;
        padding: 0 48px;
    }
    .logo-bg{
        width: 150%;
    }
}

@media (max-width:768px) {
    .hero-section{
        gap: 24px;
    }
    .hero-section .animation{
        width: 100%;
        height: fit-content;
    }
    .hero-section .intro{
        font-size: 16px;
        padding: 0 24px;
    }
    .logo-bg{
        width: 200%;
    }
}

/* -------- footer ------- */

.footer{
    display: flex;
	max-width: 1366px;
	width: 100%;
	padding: 0px 80px;
    justify-content: space-between;
    align-items: flex-end;

    position: fixed;
    bottom: 24px;
    z-index: 1;
}

.footer .link{
    display: flex;
    gap: 24px;
}

.footer .link .link-btn{
    width: 24px;
    height: 24px;
    opacity: 0.25;
}

.footer .link .link-btn:hover{
    opacity: 1;
}

.footer .link .ig{
    background: center / cover url(../element/icon/instagram.svg);
}

.footer .link .behance{
    background: center / cover url(../element/icon/behance.svg);
}

.footer .btn{
    width: 160px;
    height: 64px;
    background: center / contain no-repeat url(../element/picutre/barcode.svg);
    overflow: visible;
}

.footer .btn:hover{
    background-image: url(../element/picutre/barcode-hover.svg);
    transition: all 300ms ease;
    overflow: visible;
}

@media (max-width:1440px) {
    .footer{
        padding: 0px 48px;
    }
}

@media (max-width:1024px) {
    .footer{
        padding: 0px 24px;
    }
    .footer .btn{
        width: 120px;
        height: 48px;
    }
}
@media (max-width:768px) {
    .footer .link{
        display: flex;
        gap: 12px;
    }
}

/* -------- stone section------- */

.stone-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 120px;
    margin: 100px 0 100px;
}

.stone-section .stone-svg{
    height: 540px;
    width: 540px;
    background: center / contain no-repeat url(../element/picutre/stone-with-line.svg);
}

.stone-section .style{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
}

.stone-section .style h2{
    color: var(--white-90);
    font-size: 40px;
}

.stone-section .style p{
    color: var(--white-50);
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
}

.stone-section .inspiring{
    width: 304px;
    padding-left: 16px;
    top: 268px;
    right: 110px;
    
    background-color: var(--black-85);
}

.stone-section .empathetic{
    text-align: right;
    width: 304px;
    align-items: flex-end;
    padding-right: 16px;
    top: 375px;
    left: 110px;
    background-color: var(--black-85);
}

.stone-section .meaningful{
    width: 389px;
    padding-left: 16px;
    top: 605px;
    right: 100px;
    background-color: var(--black-85);
}

@media (max-width:1440px) {
    .stone-section{
        margin: 80px 0 80px;
    }
    .stone-section .stone-svg{
        width: 480px;
        height: 480px;
    }
    .stone-section .inspiring{
        width: 312px;
        padding-left: 16px;
        top: 260px;
        right: 80px;
    }
    
    .stone-section .empathetic{
        width: 304px;
        padding-right: 16px;
        top: 357px;
        left: 81px;
    }
    
    .stone-section .meaningful{
        width: 316px;
        top: 560px;
        right: 140px;
    }
}

@media (max-width:1140px) {
    .stone-section .style h2{
        font-size: 36px;
    }
    
    .stone-section .style p{
        font-size: 18px;
    }
    .stone-section .inspiring{
        top: 260px;
        right: 36px;   
    }
    .stone-section .empathetic{
        top: 357px;
        left: 14px;
    }
    .stone-section .meaningful{
        top: 560px;
        right: 70px;
    }
}

@media (max-width:1024px) {
    .stone-section{
        margin: 64px 0 120px;
    }
    .stone-section{
        gap: 80px;
    }
    .stone-section .style h2{
        font-size: 32px;
    }

    .stone-section .style p{
        font-size: 16px;
    }
    .stone-section .inspiring{
        width: 254px;
        top: 204px;
        right: 17px;
    }
    .stone-section .empathetic{
        width: 231px;
        top: 300px;
        left: 29px;
    }
    .stone-section .meaningful{
        width: 248px;
        top: 504px;
        right: 92px;
    }
}

@media (max-width:860px) {
    .stone-section{
        align-items: flex-start;
    }
    .stone-section .stone-svg{
        height: 640px;
        width: 560px;
        background: center / cover no-repeat url(../element/picutre/stone-with-line-sm.svg);
        background-position: top 0px left -50px;
    }
    .stone-section .inspiring{
        width: 280px;
        top: 218px;
        right: 80px;
    }
    .stone-section .empathetic{
        width: 231px;
        top: 500px;
        right: 99px;
        padding: 0 0 0 16px;
        left: auto;
        text-align: left;
        align-items: flex-start;
    }
    .stone-section .meaningful{
        width: 290px;
        top: 784px;
        right: 77px;
    }
}

@media (max-width:768px) {
    .stone-section{
        gap: 48px;
        margin: 48px 0 120px;
    }
    .stone-section .style h2{
        font-size: 28px;
    }
    .stone-section .style p{
        font-size: 16px;
    }
    .stone-section .inspiring{
        width: 240px;
        top: 164px;
        right: 80px;
    }
    .stone-section .empathetic{
        width: 231px;
        top: 448px;
        right: 64px;
        padding: 0 0 0 16px;
        left: auto;
        text-align: left;
        align-items: flex-start;
    }
    .stone-section .meaningful{
        width: 290px;
        top: 733px;
        right: 54px;
    }
}

@media (max-width:640px) {
    .stone-section .stone-svg{
        height: 593px;
        width: 483px;
        background-position: top 0px left -170px;
    }
    .stone-section .inspiring{
        width: 286px;
        top: 160px;
        right: 28px;
    }
    .stone-section .empathetic{
        width: 275px;
        top: 424px;
        right: 26px;
    }
    .stone-section .meaningful{
        width: 290px;
        top: 688px;
        right: 32px;
    }
}

@media (max-width:480px) {
    .stone-section .stone-svg{
        height: 540px;
        width: 480px;   
        background-position: top 0px left -131px;
    }
    .stone-section .style h2{
        font-size: 24px;
    }
    
    .stone-section .inspiring{
        width: 240px;
        top: 160px;
        right: 36px;
    }
    .stone-section .empathetic{
        width: 240px;
        top: 396px;
        right: 16px;
    }
    .stone-section .meaningful{
        width: 240px;
        top: 636px;
        right: 36px;
    }
}

@media (max-width:414px) {
    .stone-section{
        gap: 48px;
        margin: 36px 0 120px;
    }
    .stone-section .stone-svg{
        height: 480px;
        width: 400px;   
        background-position: top 0px left -154px;
    }
    .stone-section .style h2{
        font-size: 20px;
    }
    .stone-section .inspiring{
        width: 240px;
        top: 150px;
        right: 16px;
    }
    .stone-section .empathetic{
        width: 240px;
        top: 366px;
        right: 8px;
    }
    .stone-section .meaningful{
        width: 240px;
        top: 578px;
        right: 16px;
    }
}

@media (max-width:360px) {
    .stone-section .stone-svg{
        height: 360px;
        width: 300px;
        background-position: top 0px left -110px;
    }
    .stone-section .style p{
        font-size: 14px;
    }
    .stone-section .inspiring{
        width: 200px;
        top: 140px;
        right: 20px;
    }
    .stone-section .empathetic{
        width: 200px;
        top: 300px;
        right: 8px;
    }
    .stone-section .meaningful{
        width: 200px;
        top: 460px;
        right: 16px;
    }
}

/*------Other Projects-----*/

.selected-projects{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 100px 0 100px;
    width: 100%;
    gap: 80px;
}

.selected-projects .project-list{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.selected-projects .project-list .project{
    display: flex;
    width: 49%;
    height: 360px;
    padding: 24px;
    margin-bottom: 2%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    overflow: hidden;
}

.selected-projects .project-list .project h3{
    color: var(--white-90);
    font-size: 28px;
}

.selected-projects .project-list .project p{
    color: var(--white-50);
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
}

.selected-projects .project-list .project .tag{
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    padding: 8px 16px;
    color: var(--white-90);
    font-size: 14px;
    line-height: 100%;
    background-color: var(--main);
    border-radius: 100px;
    position: absolute;
    bottom: -48px;
    right: 12px;
}

.selected-projects .project-list .project.prj-1{
    --size:100%;
    --percentage:0%;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat url(../element/projects/zen/project-cover.png);
    background-size: var(--size);
}

.selected-projects .project-list .project.prj-2{
    --size:110%;
    --percentage:0%;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat url(../element/projects/caiyi/project-cover.png);
    background-size: var(--size);
}

.selected-projects .project-list .project.prj-3{
    --size:100%;
    --percentage:0%;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat url(../element/projects/churchplus/project-cover.png);
    background-size: var(--size);
}

.selected-projects .project-list .project.prj-4{
    --size:100%;
    --percentage:0%;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 120%), center center / cover no-repeat url(../element/projects/uneo/project-cover.png);
    background-size: var(--size);
}

.selected-projects .project-list .project:hover{
    --percentage:-25%;
    background-size: calc(var(--size) + 10%);
    transition: all 0.5s ease-out;
    cursor: pointer;

    .tag{
        bottom:12px;
        transition: all 0.5s;
    }
}

@media (max-width:1440px) {
    .selected-projects{
        padding: 0 48px 0;
        margin: 80px 0 80px;
    }
}

@media (max-width:1024px) {
    .selected-projects{
        padding: 0 48px 0;
        margin: 64px 0 64px;
        gap: 48px;
    }
    .selected-projects .project-list .project{
        height: 320px;
        padding: 16px;
        margin-bottom: 2%;
        gap: 4px;
    }
    .selected-projects .project-list .project h3{
        font-size: 24px;
    }
    .selected-projects .project-list .project p{
        font-size: 18px;
    }
    .selected-projects .project-list .project .tag{
        gap: 8px;
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .selected-projects{
        padding: 0 24px 0;
        margin: 48px 0 48px;
        gap: 24px;
    }
    .selected-projects .project-list .project{
        width: 100%;
        height: 280px;
        padding: 16px;
        margin-bottom: 2%;
        gap: 4px;
    }
    .selected-projects .project-list .project h3{
        font-size: 18px;
    }
    .selected-projects .project-list .project p{
        font-size: 14px;
    }
}

@media (max-width:440px) {
    .selected-projects{
        padding: 0 16px 0;
        margin: 36px 0 36px;
    }
    .selected-projects .project-list .project{
        height: 200px;
        padding: 16px;
        margin-bottom: 16px;
        gap: 4px;
        width: 100%;
    }
}


/* -------- Testimonial Swiper ------- */

.testimonial-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
    padding: 100px 0 100px;
    overflow: hidden;
    z-index: -2;
    background: center center / contain no-repeat url(../element/icon/comment-bg.svg);
}

.testimonial-section .scroll-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    background: linear-gradient(90deg, rgba(38, 38, 38, 100%) 0%, rgba(38, 38, 38, 0.00) 10%), 
    linear-gradient(-90deg, rgba(38, 38, 38, 100%) 0%, rgba(38, 38, 38, 0.00) 10%);
}

.testimonial-section .comment-container{
    display: flex;
    align-items: center;
    gap: 48px;
    z-index: -1;
}

.scroll-1{
    animation: scroll-1 30s infinite linear;
}

@keyframes scroll-1 {
    from {
        transform: translateX(-25%);
    }
    to {
    transform: translateX(-100%);
    }
}

.scroll-1:hover{
    animation-play-state: paused;
}

.scroll-2{
    animation: scroll-2 30s infinite linear;
}

@keyframes scroll-2{
    from {
        transform: translateX(-75%);
      }
    to {
    transform: translateX(0%);
    }
}

.scroll-2:hover{
    animation-play-state: paused;
}

.testimonial-section .comment-box{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 20px 24px;
    gap: 24px;
    border-radius: 16px;
    border: 1.5px solid #303030;
    background: linear-gradient(111deg, rgba(48, 48, 48, 0.50) 29.08%, rgba(40, 40, 40, 0.50) 83.29%);
    backdrop-filter: blur(8px);
    height: 100%;
    min-width: 480px;
}

.testimonial-section .comment-box:hover{
    padding: 32px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #303030;
    transition: all 500ms ease;
    transform: rotate(-1deg);

    .comment h2{
        font-size: 24px;
    }
    .comment p{
        font-size: 16px;
    }
}

.comment-box .client{
    display: flex;
    align-items: center;
    gap: 8px;
}

.comment-box .client .profile{
    width: 36px;
    height: 36px;
    border-radius: 100%;  
    object-fit: contain;
}

.comment-box .client .details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-box .client .name{
    align-self: stretch;
    color: var(--white-90);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}

.comment-box .client .project-type{
    align-self: stretch;
    color: var(--white-50);
    font-size: 12px;
    font-weight: 300;
}

.comment-box .comment{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0; 
}

.comment-box .comment h2{
    align-self: stretch;
    color: var(--white-90, #E6E6E6);
    font-size: 20px;
    line-height: 125%; /* 44px */
}

.comment-box .comment p{
    align-self: stretch;
    color: var(--white-75, #BFBFBF);
    font-size: 16px;
    font-weight: 300;
    line-height: 140%; /* 30px */
    letter-spacing: 0.2px;
}

@media (max-width:1440px) {
    .testimonial-section{
        padding: 80px 0 80px;
    }
}

@media (max-width:1024px) {
    .testimonial-section{
        padding: 64px 0 64px;
    }
    .testimonial-section .comment-container{
        gap: 36px;
    }
    .testimonial-section .comment-box{
        padding: 24px;
        gap: 16px;
        min-width: 400px;
    }
    .scroll-1{
        animation: scroll-1 20s infinite linear;
    }
    .scroll-2{
        animation: scroll-2 20s infinite linear;
    }
}

@media (max-width:768px) {
    .testimonial-section{
        gap: 48px;
        padding: 48px 0 48px;
    }
    .testimonial-section .comment-box{
        padding: 24px;
        gap: 24px;
        min-width: 320px;
    }
    .scroll-1{
        animation: scroll-1 15s infinite linear;
    }
    .scroll-2{
        animation: scroll-2 15s infinite linear;
    }
}

@media (max-width:440px) {
    .testimonial-section{
        padding: 36px 0 36px;
    }
    .testimonial-section .scroll-container{
        gap: 24px;
    }
    .testimonial-section .comment-box{
        min-width: 240px;
    }
    .scroll-1{
        animation: scroll-1 10s infinite linear;
    }
    .scroll-2{
        animation: scroll-2 10s infinite linear;
    }
}

/* -------- Workflow Section ------- */

.workflow-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 120px;
    margin-bottom: 120px;
    margin: 100px 0 100px;
}

.workflow-section .flow-list{
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.workflow-section .flow{
    display: flex;
    max-width: 1200px;
    align-self: stretch;
    align-items: center;
    gap: 80px;
}

.workflow-section .flow .stone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background: center / cover no-repeat;
    overflow: visible;
}

.workflow-section .flow .stone img{
    width: 360px;
    height: 360px;
    object-fit: cover;
    object-position: center center;
}

.workflow-section .flow .flow-description{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0;
}

.workflow-section .flow .flow-brief{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

.workflow-section .flow .flow-brief h2{
    align-self: stretch;
    color: var(--white-90);
    font-size: 32px;
    font-weight: 400;
}

.workflow-section .flow .flow-brief p{
    align-self: stretch;
    color: var(--white-90);
    font-size: 20px;
    font-weight: 300;
    line-height: 125%;
}

.workflow-section .flow .flow-details{
    align-self: stretch;
    color: var(--white-75);
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 140%;
    list-style-type: square;
    list-style-position: inside;
}

@media (max-width:1440px) {
    .workflow-section{
        padding: 0 48px;
        margin: 80px 0 80px;
    }
    .workflow-section .flow .flow-brief h2{
        font-size: 28px;
    }
    .workflow-section .flow .flow-brief p{
        font-size: 18px;
    }
    .workflow-section .flow .flow-details{
        font-size: 16px;
    }
}

@media (max-width:1024px) {
    .workflow-section{
        gap: 80px;
        margin: 64px 0 64px;
    }
    .workflow-section .flow-list{
        gap: 80px;
    }
    .workflow-section .flow{
        padding-left: 0px;
        gap: 48px;
    }
    .workflow-section .flow .stone{
        width: 160px;
        height: 160px;
    }
    .workflow-section .flow .stone img{
        width: 200%;
        height: 200%;
    }
}

@media (max-width:768px) {
    .workflow-section{
        padding: 0 16px;
        margin: 48px 0 48px;
        gap: 48px;
    }
    .workflow-section .flow{
        gap: 16px;
    }
    .workflow-section .flow-list{
        gap: 64px;
    }
    .workflow-section .flow .flow-brief h2{
        font-size: 24px;
    }
    .workflow-section .flow .flow-brief p{
        font-size: 18px;
    }
    .workflow-section .flow .flow-details{
        font-size: 16px;
    }
    .workflow-section .flow .stone{
        width: 120px;
        height: 120px;
    }
    .workflow-section .flow .stone img{
        width: 200%;
        height: 200%;
    }
}

@media (max-width:440px) {
    .workflow-section .flow-list{
        gap: 48px;
        margin: 36px 0 36px;
    }
    .workflow-section .flow{
        gap: 0px;
        align-items: flex-start;
        overflow: visible;
    }
    .workflow-section .flow .stone {
        width: 100px;
        height: 100px;   
    }
    .workflow-section .flow .flow-brief h2{
        font-size: 20px;
    }
    .workflow-section .flow .flow-brief p{
        font-size: 16px;
    }
    .workflow-section .flow .flow-details{
        font-size: 14px;
    }
    .workflow-section .flow .stone img{
        width: 160px;
        height: 240px;
        object-position: -24px 12px;
    }
}