body{
    overflow-x: hidden !important;
}

/* -------- hero-section -------- */

.hero-section{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    height: 100vh;
    width: 100%;
    gap: 72px;
}

.hero-section .animation{
    max-width: 800px;
    width: 100%;
    height: 480px;
    object-fit: contain;
}

.hero-section .intro{
    max-width: 800px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 140%;
    text-align: center;
    color: var(--white-75);
}

.logo-bg{
    width: 80%;
    min-width: 1500px;
    object-fit: cover;
    transform: rotate(16.239deg);
    flex-shrink: 0;
    opacity: 2%;
    z-index: -1;

    position: absolute;
    top: 0;
}

@media (max-width:1024px) {
    .hero-section{
        gap: 48px;
    }
    .hero-section .animation{
        height: 400px;
    }
    .hero-section .intro{
        font-size: 18px;
        padding: 0 48px;
    }
}

@media (max-width:768px) {
    .hero-section{
        gap: 24px;
    }
    .hero-section .animation{
        width: 100%;
        height: fit-content;
    }
    .hero-section .intro{
        font-size: 16px;
        padding: 0 24px;
    }
}

/* -------- footer ------- */

.footer{
    display: flex;
	max-width: 1366px;
	width: 100%;
	padding: 0px 80px;
    justify-content: space-between;
    align-items: flex-end;

    position: fixed;
    bottom: 24px;
    z-index: 1;
}

.footer .link{
    display: flex;
    gap: 24px;
}

.footer .link .link-btn{
    width: 24px;
    height: 24px;
    opacity: 0.25;
}

.footer .link .link-btn:hover{
    opacity: 1;
}

.footer .link .ig{
    background: center / cover url(../element/icon/instagram.svg);
}

.footer .link .behance{
    background: center / cover url(../element/icon/behance.svg);
}

.footer .btn{
    width: 160px;
    height: 64px;
    background: center / contain no-repeat url(../element/picutre/barcode.svg);
    overflow: visible;
}

.footer .btn:hover{
    background-image: url(../element/picutre/barcode-hover.svg);
    transition: all 300ms ease;
    overflow: visible;
}

@media (max-width:1366px) {
    .footer{
        padding: 0px 48px;
    }
}

@media (max-width:1024px) {
    .footer{
        padding: 0px 24px;
    }
    .footer .btn{
        width: 120px;
        height: 48px;
    }
}
@media (max-width:768px) {
    .footer .link{
        display: flex;
        gap: 12px;
    }
}

/* -------- stone section------- */

.stone-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 120px;
}

.stone-section .stone-svg{
    height: 540px;
    width: 540px;
    background: center / contain no-repeat url(../element/picutre/stone-with-line.svg);
}

.stone-section .style{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
}

.stone-section .style h2{
    color: var(--white-90);
    font-size: 40px;
}

.stone-section .style p{
    color: var(--white-50);
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
}

.stone-section .inspiring{
    width: 304px;
    padding-left: 16px;
    top: 268px;
    right: 110px;
    
    background-color: var(--black-85);
}

.stone-section .empathetic{
    text-align: right;
    width: 304px;
    align-items: flex-end;
    padding-right: 16px;
    top: 375px;
    left: 110px;
    background-color: var(--black-85);
}

.stone-section .meaningful{
    width: 389px;
    padding-left: 16px;
    top: 605px;
    right: 100px;
    background-color: var(--black-85);
}

@media (max-width:1366px) {
    .stone-section .stone-svg{
        width: 480px;
        height: 480px;
    }
    .stone-section .inspiring{
        width: 312px;
        padding-left: 16px;
        top: 260px;
        right: 80px;
    }
    
    .stone-section .empathetic{
        width: 304px;
        padding-right: 16px;
        top: 357px;
        left: 81px;
    }
    
    .stone-section .meaningful{
        width: 316px;
        top: 560px;
        right: 140px;
    }
}

@media (max-width:1140px) {
    .stone-section .style h2{
        font-size: 36px;
    }
    
    .stone-section .style p{
        font-size: 18px;
    }
    .stone-section .inspiring{
        top: 260px;
        right: 36px;   
    }
    .stone-section .empathetic{
        top: 357px;
        left: 14px;
    }
    .stone-section .meaningful{
        top: 560px;
        right: 70px;
    }
}

@media (max-width:1024px) {
    .stone-section .style h2{
        font-size: 32px;
    }
    .stone-section .style p{
        font-size: 16px;
    }
    .stone-section .inspiring{
        width: 254px;
        top: 264px;
        right: 36px;   
    }
    .stone-section .empathetic{
        width: 231px;
        top: 362px;
        left: 43px;
    }
    .stone-section .meaningful{
        width: 248px;
        top: 564px;
        right: 70px;
    }
}

@media (max-width:860px) {
    .stone-section{
        align-items: flex-start;
    }
    .stone-section .stone-svg{
        height: 640px;
        width: 560px;
        background: center / cover no-repeat url(../element/picutre/stone-with-line-sm.svg);
        background-position: top 0px left -50px;
    }
    .stone-section .inspiring{
        width: 286px;
        top: 277px;
        right: 36px;
    }
    .stone-section .empathetic{
        width: 231px;
        top: 560px;
        right: 80px;
        padding: 0 0 0 16px;
        left: auto;
        text-align: left;
        align-items: flex-start;
    }
    .stone-section .meaningful{
        width: 290px;
        top: 845px;
        right: 56px;
    }
}

@media (max-width:768px) {

}

@media (max-width:640px) {
    .stone-section .style h2{
        font-size: 28px;
    }
    .stone-section .style p{
        font-size: 16px;
    }
    .stone-section .stone-svg{
        height: 593px;
        width: 483px;
        background-position: top 0px left -170px;
    }
    .stone-section .inspiring{
        width: 286px;
        top: 277px;
        right: 28px;
    }
    .stone-section .empathetic{
        width: 275px;
        top: 537px;
        right: 26px;
    }
    .stone-section .meaningful{
        width: 290px;
        top: 800px;
        right: 32px;
    }
}

@media (max-width:480px) {
    .stone-section .style h2{
        font-size: 24px;
    }
}

/* -------- Testimonial Swiper ------- */

.testimonial-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
    overflow: hidden;
}

.testimonial-section .swiper{
    width: 80%;
    overflow: visible;
}

.testimonial-section .swiper-slide{
    padding: 0 80px 48px;
}

.testimonial-section .swiper-slide-next,
.testimonial-section .swiper-slide-prev{
    opacity: 0.2;
}

.testimonial-section .swiper-button-prev,
.testimonial-section .swiper-button-next{
    width: 40px;
    height: 12px;
    color: transparent;
}

.testimonial-section .swiper-button-prev:hover,
.testimonial-section .swiper-button-next:hover{
    width: 54px;
    height: 12px;
    transition: all 300ms ease;
}

.testimonial-section .swiper-button-prev{
    background: center / contain no-repeat url(../element/icon/arrow-left.svg);
}

.testimonial-section .swiper-button-next{
    background: center / contain no-repeat url(../element/icon/arrow-right.svg);
}

.testimonial-section .swiper-pagination-bullet{
    background: var(--main);
}

.testimonial-section .comment-box{
    display: flex;
    padding: 40px 48px;
    align-items: center;
    gap: 40px;
    background-color: var(--black-70) ;
}

.comment-box .client{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .profile{
        width: 186px;
        height: 186px;
        border-radius: 100%;
        margin-bottom: 27px;
    }
    .details{
        width: 100%;
    }
    .name{
        align-self: stretch;
        color: var(--white-90);
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    .project-type{
        align-self: stretch;
        color: var(--white-50);
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
}

.comment-box.comment01 .profile{
    background: center / cover no-repeat url(../element/picutre/testimonial-profile.jpg);
}

.comment-box .comment{
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1 0 0; 
}

.comment-box .comment h2{
    align-self: stretch;
    color: var(--white-90, #E6E6E6);
    font-size: 32px;
    line-height: 110%; /* 44px */
}

.comment-box .comment p{
    align-self: stretch;
    color: var(--white-75, #BFBFBF);
    font-size: 20px;
    font-weight: 300;
    line-height: 150%; /* 30px */
    letter-spacing: 0.2px;
}

@media (max-width:1366px) {
    .testimonial-section .swiper{
        width: 85%;
        overflow: visible;
    }
    .testimonial-section .swiper-slide{
        padding: 0 64px 48px;
    }
}

@media (max-width:1024px) {
    .testimonial-section .swiper{
        width: 85%;
        overflow: visible;
    }
    .testimonial-section .swiper-slide{
        padding: 0 36px 36px;
    }
    .testimonial-section .comment-box{
        padding: 40px;
        gap: 40px;
    }
    .comment-box .comment h2{
        font-size: 28px;
    }
    .comment-box .comment p{
        font-size: 18px;
    }
    .comment-box .client{
        .profile{
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }
        .name{
            font-size: 18px;
            margin-bottom: 4px;
        }
        .project-type{
            font-size: 16px;
        }
    }
    .testimonial-section .swiper-button-prev,
    .testimonial-section .swiper-button-next{
        display: none; 
    }   
}

@media (max-width:768px) {
    .testimonial-section{
        gap: 48px;
    }
    .testimonial-section .swiper{
        width: 90%;
        overflow: visible;
    }
    .testimonial-section .swiper-slide{
        padding: 0 12px 36px;
    }
    .comment-box .comment h2{
        font-size: 24px;
    }
    .comment-box .comment p{
        font-size: 16px;
    }
    .testimonial-section .comment-box{
        padding: 24px 16px;
        gap: 24px;
        flex-direction: column;
    }
    .comment-box .client{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;
    
        .profile{
            width: 51px;
            height: 44px;
            border-radius: 44px;
            margin-bottom: 0px;
        }

        .details{
            display: flex;
            flex-direction: column;
        }
        .name{
            text-align: left;
            font-size: 18px;
            margin-bottom: 4px;
        }
        .project-type{
            text-align: left;
            font-size: 16px;
        }
    }
}

/* -------- Workflow Section ------- */

.workflow-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 120px;
    margin-bottom: 120px;
}

.workflow-section .flow-list{
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.workflow-section .flow{
    display: flex;
    max-width: 1200px;
    align-self: stretch;
    align-items: center;
    gap: 80px;
}

.workflow-section .flow .stone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background: center / cover no-repeat;
    overflow: visible;
}

.workflow-section .flow .stone img{
    width: 360px;
    height: 360px;
    object-fit: cover;
    object-position: center center;
}

.workflow-section .flow .flow-description{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0;
}

.workflow-section .flow .flow-brief{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

.workflow-section .flow .flow-brief h2{
    align-self: stretch;
    color: var(--white-90);
    font-size: 36px;
    font-weight: 400;
}

.workflow-section .flow .flow-brief p{
    align-self: stretch;
    color: var(--white-90);
    font-size: 24px;
    font-weight: 300;
    line-height: 125%;
}

.workflow-section .flow .flow-details{
    align-self: stretch;
    color: var(--white-75);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 140%;
    list-style-type: square;
    list-style-position: inside;
}

@media (max-width:1366px) {
    .workflow-section{
        padding: 0 48px;
    }
}

@media (max-width:1024px) {
    .workflow-section{
        gap: 80px;
        margin-bottom: 120px;
    }
    .workflow-section .flow-list{
        gap: 48px;
    }
    .workflow-section .flow{
        padding-left: 0px;
        gap: 48px;
    }
    .workflow-section .flow .flow-brief h2{
        font-size: 32px;
    }
    .workflow-section .flow .flow-brief p{
        font-size: 20px;
    }
    .workflow-section .flow .flow-details{
        font-size: 18px;
    }
    .workflow-section .flow .stone{
        width: 160px;
        height: 160px;
    }
    .workflow-section .flow .stone img{
        width: 200%;
        height: 200%;
    }
}

@media (max-width:768px) {
    .workflow-section{
        padding: 0 16px;
    }
    .workflow-section .flow{
        gap: 16px;
    }
    .workflow-section .flow-list{
        gap: 80px;
    }
    .workflow-section .flow .flow-brief h2{
        font-size: 24px;
    }
    .workflow-section .flow .flow-brief p{
        font-size: 18px;
    }
    .workflow-section .flow .flow-details{
        font-size: 16px;
    }
    .workflow-section .flow .stone{
        width: 120px;
        height: 120px;
    }
    .workflow-section .flow .stone img{
        width: 200%;
        height: 200%;
    }
}

@media (max-width:440px) {
    .workflow-section .flow-list{
        gap: 48px;
    }
    .workflow-section .flow{
        gap: 0px;
        align-items: flex-start;
        overflow: visible;
    }
    .workflow-section .flow .stone {
        width: 100px;
        height: 100px;   
    }
    .workflow-section .flow .stone img{
        width: 160px;
        height: 240px;
        object-position: -24px 12px;
    }
}