body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    max-width: none;
    position: fixed;
    transition: all 0.5s;
}

/*------Cover CSS------*/

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 640px;
    padding: 24px 48px;
    gap: 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 36.12%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 66.35%, rgba(0, 0, 0, 0.75) 100%), center center / cover no-repeat url(../element/picutre/uiux-selected-1.png);
}

@media (max-width:1440px) {
    .cover{
        height: 480px;
    }
}

@media (max-width:1024px) {
    .cover{
        height: 400px;
    }
}

@media (max-width:768px) {
    .cover{
        height: 360px;
    }
}

@media (max-width:440px) {
    .cover{
        height: 240px;
    }
}

/*------Case Study CSS------*/

.project-showcase{
    display: flex;
    padding: 0 48px;
    gap: 96px;
    width: 100%;
    margin-top: 48px;
}

.case-brief{
    display: flex;
    width: 100%;
    max-width: 360px;
    gap: 16px;
    flex-direction: column;
    flex:1 0 0;

    position: sticky;
    top: 106px;
}

.case-brief h2{
    color: var(--white-90, #E6E6E6);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case-brief h4{
    color: var(--white-75, #BFBFBF);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subtitle{
    margin-bottom: 8px;
    padding: 16px 0 4px;
    border-bottom: 1.5px solid var(--white-90, #E6E6E6);

    color: var(--white-90, #E6E6E6);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: var(--black-85);
}

.case-details .subtitle{
    position: sticky;
    top: 106px;
}

.case-brief .box{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: static;
    top: 0;
}

.case-brief .title.box{
    margin-bottom: 16px;
}

.case-brief h3{
    color: var(--white-50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case-brief p, .case-brief li{
    color: var(--white-90, #E6E6E6);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.32px;
}

.case-brief a{
    color: var(--main);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.32px;
}


.case-brief .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    margin-top: 12px;

    color: var(--white-50);
    font-size: 16px;
    font-weight: normal;
    line-height: 125%;
    background-color: var(--black-80);
}

.case-brief a span{
    flex: 1 0 0;
}


.case-brief .btn:hover{
    color: var(--white-75);
    background-color: var(--black-70);
    
    img{
        content: url(../element/icon/chevron-right-hover.svg);
    }
}

.case-brief .box img{
    height: 36px;
    width: 36px;
    padding: 4px;
    object-fit: cover;
}

.case-details{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
    flex: 1 0 0;
    padding-top: 16px;
}

.case-details .box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.case-details img{
    width: 100%;
    object-fit: cover;
    background-color: var(black-85);
}

.case-details h3{
    color: var(--white-90);
    font-family: 'Sk-Modernist Mono';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case-details h4{
    color: var(--white-90);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case-details p{
    color: var(--white-75);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
}

.case-details figcaption{
    color: var(--white-50);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
}

@media (max-width:1440px) {
    .project-showcase{
        padding: 0 48px;
        gap: 48px;
        margin-top: 24px;
    }
    .case-brief{
        gap: 16px;
        flex:1 0 0;
        top: 106px;
    }
    .case-brief h2{
        font-size: 32px;
    }
    .case-brief h4{
        font-size: 16px;
    }
}

@media (max-width:1024px) {
    .project-showcase{
        flex-direction: column;
        padding: 0 24px;
        gap: 48px;
        margin-top: 24px;
    }
    .case-brief{
        max-width: none;
        width: 100%;
        gap: 1%;
        flex:1 0 0;
        top: 106px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .case-brief h2{
        font-size: 32px;
    }
    .case-brief h4{
        font-size: 16px;
    }
    .case-brief .box.title{
        width: 100%;
        margin-bottom: 24px;
    }
    .case-brief .box.details{
        flex: 1 0 0;
        margin-bottom: 12px;
    }
    .case-brief .box.links{
        flex-direction: row;
        width: 100%;
        gap: 12px;
    }
    .case-brief .box.links a{
        flex: 1 0 0;
    }
}

@media (max-width:768px) {
    .project-showcase{
        gap: 24px;
        margin-top: 24px;
    }
    .case-brief h2{
        font-size: 32px;
    }
    .case-brief h4{
        font-size: 16px;
    }
    .case-brief .box.title{
        width: 100%;
    }
    .case-brief .box.details{
        width: 49%;
        margin-bottom: 12px;
        flex: none;
    }
    .case-brief .box.links{
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
}

@media (max-width:440px) {
    .project-showcase{
        padding: 0 16px;
        margin-top: 16px;
    }
    .case-brief h2{
        font-size: 28px;
    }
    .case-brief .box.details{
        width: 100%;
    }
}

/*------ Other Fixed Elements ------*/

.backtotop{
    display: none;
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 48px;
    height: 48px;

    img{
        object-fit: cover;
    }
}

.backtotop:hover{
    cursor: pointer;
    content: url(../element/icon/back-to-top-hover.svg)
}