/*------ Selected Projects ------*/

.selected-projects{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 72px 0 100px;
    width: 100%;
    gap: 80px;
}

.selected-projects .project-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.selected-projects .project-list .project{
    display: flex;
    width: 100%;
    height: 400px;
    padding: 24px 48px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.selected-projects .project-list .project h2{
    color: var(--white-90);
    font-size: 28px;
    margin-bottom: 4px;
}

.selected-projects .project-list .project p{
    color: var(--white-50);
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
}

.selected-projects .project-list .project .details{
    height: 0px;
    width: 50%;
    overflow: hidden;
    border-top: solid 1.5px transparent ;
    font-size: 18px;
    color: var(--white-90);
    font-weight: 300;
    line-height: 120%;
    transition: all 0.3s ease;
}

.selected-projects .project-list .project .tag{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    height: fit-content;
    color: var(--white-90);
    font-size: 14px;
    line-height: 100%;
    background-color: var(--main);
    border-radius: 100px;
    position: absolute;
    bottom: -48px;
    right: 12px;
}

.selected-projects .project-list .project.project-1{
    --percentage: 42%;
    background: 
    linear-gradient(180deg, rgba(102, 102, 102, 0.00) var(--percentage), #000 100%), 
    
    /* change the project cover here*/
    center center / cover no-repeat url(../element/picutre/uiux-selected-1.png),

     lightgray 50% / cover no-repeat;
    background-size: 100%;
}

.selected-projects .project-list .project.project-2{
    --percentage: 42%;
    background: 
    linear-gradient(180deg, rgba(102, 102, 102, 0.00) var(--percentage), #000 100%), 
    
    /* change the project cover here*/
    center center / cover no-repeat url(../element/picutre/uiux-selected-2.png),

     lightgray 50% / cover no-repeat;
     background-size: 100%;
}

.selected-projects .project-list .project.project-3{
    --percentage: 42%;
    background: 
    linear-gradient(180deg, rgba(102, 102, 102, 0.00) var(--percentage), #000 100%), 

    /* change the project cover here*/
    center center / cover no-repeat url(../element/picutre/uiux-selected-3.png),

     lightgray 50% / cover no-repeat;
     background-size: 100%;
}

.selected-projects .project-list .project:hover{
    background-size: 110%;
    --percentage:-20%;
    transition: all 0.5s ease-out;
    cursor: pointer;

    p{
        padding-bottom: 8px;
    }

    .details{
        border-top: solid 1.5px var(--white-50) ;
        height: 25%;
        padding-top: 8px;
        transition: all 0.5s ease-out;
    }
    .tag{
        bottom: 12px;
        transition: all 0.5s;
    }
}

@media (max-width:1440px) {
    .selected-projects{
        padding: 0 48px 0;
        margin: 48px 0 80px;
    }
}

@media (max-width:1024px) {
    .selected-projects{
        padding: 0 48px 0;
        margin: 48px 0 64px;
    }
    .selected-projects .project-list .project{
        height: 360px;
        padding: 16px 24px;
    }
    .selected-projects .project-list .project h2{
        font-size: 32px;
        margin-bottom: 8px;
    }
    .selected-projects .project-list .project p{
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .selected-projects{
        padding: 0 24px 0;
        margin: 48px 0 0px;
        gap: 24px;
    }
    .selected-projects .project-list{
        gap: 16px;
    }
    .selected-projects .project-list .project{
        height: 320px;
        padding: 16px;
        background-size: cover !important;
    }
    .selected-projects .project-list .project h2{
        font-size: 28px;
        margin-bottom: 4px;
    }
}

@media (max-width:440px) {
    .selected-projects{
        padding: 0 16px 0;
        margin: 36px 0 36px;
    }
    .selected-projects .project-list .project{
        height: 240px;
        padding: 16px;
    }
    .selected-projects .project-list .project h2{
        font-size: 20px;
    }
}

/*------Other Projects-----*/

.other-projects{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 100px 0 100px;
    width: 100%;
    gap: 80px;
}

.other-projects .project-list{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.other-projects .project-list .project{
    display: flex;
    width: 49%;
    height: 400px;
    padding: 24px;
    margin-bottom: 2%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    overflow: hidden;
}

.other-projects .project-list .project h3{
    color: var(--white-90);
    font-size: 28px;
}

.other-projects .project-list .project p{
    color: var(--white-50);
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
}

.other-projects .project-list .project .tag{
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    padding: 8px 16px;
    color: var(--white-90);
    font-size: 14px;
    line-height: 100%;
    background-color: var(--main);
    border-radius: 100px;
    position: absolute;
    bottom: -48px;
    right: 12px;
}

.other-projects .project-list .project.prj-1{
    --percentage:0%;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.00) var(--percentage), #000 100%), center center / cover no-repeat url(../element/picutre/other-projects-cover-test.png);
    background-size: 100%;
}

.other-projects .project-list .project:hover{
    --percentage:-25%;
    background-size: 110%;
    transition: all 0.5s ease-out;
    cursor: pointer;

    .tag{
        bottom:12px;
        transition: all 0.5s;
    }
}

@media (max-width:1440px) {
    .other-projects{
        padding: 0 48px 0;
        margin: 80px 0 80px;
    }
}

@media (max-width:1024px) {
    .other-projects{
        padding: 0 48px 0;
        margin: 64px 0 64px;
        gap: 48px;
    }
    .other-projects .project-list .project{
        height: 320px;
        padding: 16px;
        margin-bottom: 2%;
        gap: 4px;
    }
    .other-projects .project-list .project h3{
        font-size: 24px;
    }
    .other-projects .project-list .project p{
        font-size: 18px;
    }
    .other-projects .project-list .project .tag{
        gap: 8px;
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .other-projects{
        padding: 0 24px 0;
        margin: 48px 0 48px;
        gap: 24px;
    }
    .other-projects .project-list .project{
        height: 280px;
        padding: 16px;
        margin-bottom: 2%;
        gap: 4px;
    }
    .other-projects .project-list .project h3{
        font-size: 20px;
    }
    .other-projects .project-list .project p{
        font-size: 16px;
    }
}

@media (max-width:440px) {
    .other-projects{
        padding: 0 16px 0;
        margin: 36px 0 36px;
    }
    .other-projects .project-list .project{
        height: 200px;
        padding: 16px;
        margin-bottom: 16px;
        gap: 4px;
        width: 100%;
    }
}
